In [17]:
!pip install keras-tuner

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting keras-tuner
  Downloading keras_tuner-1.1.3-py3-none-any.whl (135 kB)
     |████████████████████████████████| 135 kB 27.6 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.23.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (1.21.6)
Requirement already satisfied: tensorboard in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (2.8.0)
Requirement already satisfied: ipython in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (7.9.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from keras-tuner) (21.3)
Collecting kt-legacy
  Downloading kt_legacy-1.0.4-py3-none-any.whl (9.6 kB)
Collecting jedi>=0.10
  Downloading jedi-0.18.1-py2.py3-none-any.whl (1.6 MB)
     |████████████████████████████████| 1.6 MB 52.1 MB/s
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (57.4.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (5.1.1)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.7.5)
Requirement already satisfied: prompt-toolkit<2.1.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.0.10)
Requirement already satisfied: pygments in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (2.6.1)
Requirement already satisfied: pexpect in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (4.4.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.7/dist-packages (from ipython->keras-tuner) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /usr/local/lib/python3.7/dist-packages (from jedi>=0.10->ipython->keras-tuner) (0.8.3)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (1.15.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.7/dist-packages (from prompt-toolkit<2.1.0,>=2.0.0->ipython->keras-tuner) (0.2.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->keras-tuner) (3.0.9)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.7/dist-packages (from pexpect->ipython->keras-tuner) (0.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (2022.6.15)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->keras-tuner) (3.0.4)
Requirement already satisfied: protobuf>=3.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.17.3)
Requirement already satisfied: absl-py>=0.4 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.2.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.8.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.35.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.0.1)
Requirement already satisfied: wheel>=0.26 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.37.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.4.6)
Requirement already satisfied: grpcio>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (1.47.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (3.4.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard->keras-tuner) (0.6.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.2.4)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard->keras-tuner) (4.12.0)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (4.1.1)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard->keras-tuner) (3.8.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner) (3.2.0)
Installing collected packages: jedi, kt-legacy, keras-tuner
Successfully installed jedi-0.18.1 keras-tuner-1.1.3 kt-legacy-1.0.4

# California Housing Dataset

In this example, we are using the default dataset California Housing Dataset present in the Google colab.

## Importing libraries

In [18]:
import math
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from tensorflow.keras import Model
from tensorflow.keras import Sequential
from tensorflow.keras.optimizers import Adam
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.layers import Dense, Dropout
from sklearn.model_selection import train_test_split
from tensorflow.keras.losses import MeanSquaredLogarithmicError
import kerastuner as kt

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: DeprecationWarning: `import kerastuner` is deprecated, please use `import keras_tuner`.
  if sys.path[0] == '':

## Reading the files

In [2]:
#Train file
train_df = pd.read_csv('/content/sample_data/california_housing_train.csv')

#Test file
test_df = pd.read_csv('/content/sample_data/california_housing_test.csv')

## Check the Train data and test data

In [3]:
train_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [4]:
test_df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [5]:
#shape of train and test
print(train_df.shape)
print(test_df.shape)

(17000, 9)
(3000, 9)

## Dataset Description

In [7]:
train_df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [8]:
test_df.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

The distribution of the train and test are pretty same

## Null value check

In [9]:
train_df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

In [10]:
test_df.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
dtype: int64

There are no null values in the dataset

## Split the data into dependent and independent features

In [11]:
TARGET_NAME = 'median_house_value'

In [13]:
# split the data into dependent and independent
x_train, y_train = train_df.drop(TARGET_NAME, axis=1), train_df[TARGET_NAME]
x_test, y_test = test_df.drop(TARGET_NAME, axis=1), test_df[TARGET_NAME]

## Feature Scaling

In [14]:
# Feature Scaling
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

## Keras Tuner

An open-source Python library called Keras Tuner was created specifically for adjusting the hyperparameters of artificial neural networks. Currently, the Keras tuner supports four different types of tuners or algorithms:

* Bayesian Optimization
* Hyperband
* Sklearn
* Random Search

The Hyper model is the one you want to tune.

* Using the model-building feature we can enable this tuning feature

We are going to build the ann with 4 layers
1. Input layer
2. Hidden layer 1
3. Hidden layer 2
4. Output Layer

unit1, unit2, unit3 will have the range between 25 to 512 with step 32

These will be apply to input layer and hidden layers

The learning rate will be picked up based on given inputs and hence we are use choice method to perform that action

Since this is the regression problem, we are using 'linear' activation function in the output layer. on the hidden layers we are using 'relu'.

For weight updation, we are using adam optimizers and the loss will be MSLE (Mean Squarred Log Error)

In [19]:
msle = MeanSquaredLogarithmicError()


def build_annmodel(hp):
  model = tf.keras.Sequential()
  
  units1 = hp.Int('units1', min_value=25, max_value=512, step=32)
  units2 = hp.Int('units2', min_value=25, max_value=512, step=32)
  units3 = hp.Int('units3', min_value=25, max_value=512, step=32)
  model.add(Dense(units=units1, activation='relu'))
  model.add(tf.keras.layers.Dense(units=units2, activation='relu'))
  model.add(tf.keras.layers.Dense(units=units3, activation='relu'))
  model.add(Dense(1, kernel_initializer='normal', activation='linear'))

  hp_learning_rate = hp.Choice('learning_rate', values=[1e-2, 1e-3, 1e-4])

  model.compile(
      optimizer=tf.keras.optimizers.Adam(learning_rate=hp_learning_rate),
      loss=msle,
      metrics=[msle]
  )

  return model

In order to get a high-performing model quickly, the Hyperband tuning algorithm makes use of adaptive resource allocation and early-stopping.

In [20]:
# HyperBand algorithm from keras tuner
tuner = kt.Hyperband(
    build_annmodel,
    objective='val_mean_squared_logarithmic_error',
    max_epochs=10,
    directory='keras_tuner_dir',
    project_name='keras_tuner_demo'
)

In [21]:
tuner.search(x_train, y_train, epochs=10, validation_split=0.2)

Trial 30 Complete [00h 00m 14s]
val_mean_squared_logarithmic_error: 0.10553888231515884

Best val_mean_squared_logarithmic_error So Far: 0.10553888231515884
Total elapsed time: 00h 03m 46s

### The best hyper parameters are

In [28]:
for p in ['units1','units2','units3','learning_rate']:
  print(p, tuner.get_best_hyperparameters()[0].get(p))

units1 505
units2 377
units3 89
learning_rate 0.01

## Model Evaluation

In [29]:
best_hps=tuner.get_best_hyperparameters(num_trials=1)[0]
best_hps

In [30]:
model = tuner.hypermodel.build(best_hps)

In [31]:
history = model.fit(x_train, y_train, epochs=50, validation_split=0.2)

Epoch 1/50
425/425 [==============================] - 2s 3ms/step - loss: 3.1178 - mean_squared_logarithmic_error: 3.1178 - val_loss: 0.4203 - val_mean_squared_logarithmic_error: 0.4213
Epoch 2/50
425/425 [==============================] - 1s 3ms/step - loss: 0.1771 - mean_squared_logarithmic_error: 0.1771 - val_loss: 0.2261 - val_mean_squared_logarithmic_error: 0.2299
Epoch 3/50
425/425 [==============================] - 1s 3ms/step - loss: 0.1213 - mean_squared_logarithmic_error: 0.1213 - val_loss: 0.1501 - val_mean_squared_logarithmic_error: 0.1533
Epoch 4/50
425/425 [==============================] - 1s 3ms/step - loss: 0.1010 - mean_squared_logarithmic_error: 0.1010 - val_loss: 0.1294 - val_mean_squared_logarithmic_error: 0.1322
Epoch 5/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0953 - mean_squared_logarithmic_error: 0.0953 - val_loss: 0.1183 - val_mean_squared_logarithmic_error: 0.1208
Epoch 6/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0927 - mean_squared_logarithmic_error: 0.0927 - val_loss: 0.1196 - val_mean_squared_logarithmic_error: 0.1220
Epoch 7/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0914 - mean_squared_logarithmic_error: 0.0914 - val_loss: 0.1177 - val_mean_squared_logarithmic_error: 0.1206
Epoch 8/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0904 - mean_squared_logarithmic_error: 0.0904 - val_loss: 0.1087 - val_mean_squared_logarithmic_error: 0.1108
Epoch 9/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0906 - mean_squared_logarithmic_error: 0.0906 - val_loss: 0.1070 - val_mean_squared_logarithmic_error: 0.1093
Epoch 10/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0898 - mean_squared_logarithmic_error: 0.0898 - val_loss: 0.1046 - val_mean_squared_logarithmic_error: 0.1062
Epoch 11/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0892 - mean_squared_logarithmic_error: 0.0892 - val_loss: 0.1012 - val_mean_squared_logarithmic_error: 0.1027
Epoch 12/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0898 - mean_squared_logarithmic_error: 0.0898 - val_loss: 0.0978 - val_mean_squared_logarithmic_error: 0.0998
Epoch 13/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0887 - mean_squared_logarithmic_error: 0.0887 - val_loss: 0.1092 - val_mean_squared_logarithmic_error: 0.1113
Epoch 14/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0895 - mean_squared_logarithmic_error: 0.0895 - val_loss: 0.1078 - val_mean_squared_logarithmic_error: 0.1094
Epoch 15/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0883 - mean_squared_logarithmic_error: 0.0883 - val_loss: 0.1009 - val_mean_squared_logarithmic_error: 0.1029
Epoch 16/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0884 - mean_squared_logarithmic_error: 0.0884 - val_loss: 0.0951 - val_mean_squared_logarithmic_error: 0.0967
Epoch 17/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0887 - mean_squared_logarithmic_error: 0.0887 - val_loss: 0.0992 - val_mean_squared_logarithmic_error: 0.1008
Epoch 18/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0875 - mean_squared_logarithmic_error: 0.0875 - val_loss: 0.1060 - val_mean_squared_logarithmic_error: 0.1081
Epoch 19/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0880 - mean_squared_logarithmic_error: 0.0880 - val_loss: 0.1030 - val_mean_squared_logarithmic_error: 0.1047
Epoch 20/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0876 - mean_squared_logarithmic_error: 0.0876 - val_loss: 0.0987 - val_mean_squared_logarithmic_error: 0.0995
Epoch 21/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0870 - mean_squared_logarithmic_error: 0.0870 - val_loss: 0.0989 - val_mean_squared_logarithmic_error: 0.1005
Epoch 22/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0875 - mean_squared_logarithmic_error: 0.0875 - val_loss: 0.1198 - val_mean_squared_logarithmic_error: 0.1227
Epoch 23/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0884 - mean_squared_logarithmic_error: 0.0884 - val_loss: 0.1066 - val_mean_squared_logarithmic_error: 0.1088
Epoch 24/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0875 - mean_squared_logarithmic_error: 0.0875 - val_loss: 0.1019 - val_mean_squared_logarithmic_error: 0.1032
Epoch 25/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0876 - mean_squared_logarithmic_error: 0.0876 - val_loss: 0.0939 - val_mean_squared_logarithmic_error: 0.0952
Epoch 26/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0873 - mean_squared_logarithmic_error: 0.0873 - val_loss: 0.0970 - val_mean_squared_logarithmic_error: 0.0979
Epoch 27/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0875 - mean_squared_logarithmic_error: 0.0875 - val_loss: 0.1078 - val_mean_squared_logarithmic_error: 0.1101
Epoch 28/50
425/425 [==============================] - 2s 4ms/step - loss: 0.0867 - mean_squared_logarithmic_error: 0.0867 - val_loss: 0.1021 - val_mean_squared_logarithmic_error: 0.1039
Epoch 29/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0860 - mean_squared_logarithmic_error: 0.0860 - val_loss: 0.0979 - val_mean_squared_logarithmic_error: 0.0997
Epoch 30/50
425/425 [==============================] - 2s 5ms/step - loss: 0.0853 - mean_squared_logarithmic_error: 0.0853 - val_loss: 0.1045 - val_mean_squared_logarithmic_error: 0.1063
Epoch 31/50
425/425 [==============================] - 2s 4ms/step - loss: 0.0844 - mean_squared_logarithmic_error: 0.0844 - val_loss: 0.0997 - val_mean_squared_logarithmic_error: 0.1012
Epoch 32/50
425/425 [==============================] - 2s 4ms/step - loss: 0.0827 - mean_squared_logarithmic_error: 0.0827 - val_loss: 0.0961 - val_mean_squared_logarithmic_error: 0.0976
Epoch 33/50
425/425 [==============================] - 2s 4ms/step - loss: 0.0805 - mean_squared_logarithmic_error: 0.0805 - val_loss: 0.0965 - val_mean_squared_logarithmic_error: 0.0979
Epoch 34/50
425/425 [==============================] - 2s 4ms/step - loss: 0.0763 - mean_squared_logarithmic_error: 0.0763 - val_loss: 0.1021 - val_mean_squared_logarithmic_error: 0.1039
Epoch 35/50
425/425 [==============================] - 2s 4ms/step - loss: 0.0742 - mean_squared_logarithmic_error: 0.0742 - val_loss: 0.1120 - val_mean_squared_logarithmic_error: 0.1146
Epoch 36/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0727 - mean_squared_logarithmic_error: 0.0727 - val_loss: 0.1008 - val_mean_squared_logarithmic_error: 0.1022
Epoch 37/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0712 - mean_squared_logarithmic_error: 0.0712 - val_loss: 0.1068 - val_mean_squared_logarithmic_error: 0.1093
Epoch 38/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0690 - mean_squared_logarithmic_error: 0.0690 - val_loss: 0.1104 - val_mean_squared_logarithmic_error: 0.1127
Epoch 39/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0685 - mean_squared_logarithmic_error: 0.0685 - val_loss: 0.1129 - val_mean_squared_logarithmic_error: 0.1159
Epoch 40/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0667 - mean_squared_logarithmic_error: 0.0667 - val_loss: 0.1112 - val_mean_squared_logarithmic_error: 0.1147
Epoch 41/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0659 - mean_squared_logarithmic_error: 0.0659 - val_loss: 0.1150 - val_mean_squared_logarithmic_error: 0.1186
Epoch 42/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0648 - mean_squared_logarithmic_error: 0.0648 - val_loss: 0.1161 - val_mean_squared_logarithmic_error: 0.1201
Epoch 43/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0644 - mean_squared_logarithmic_error: 0.0644 - val_loss: 0.1281 - val_mean_squared_logarithmic_error: 0.1328
Epoch 44/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0644 - mean_squared_logarithmic_error: 0.0644 - val_loss: 0.1308 - val_mean_squared_logarithmic_error: 0.1355
Epoch 45/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0641 - mean_squared_logarithmic_error: 0.0641 - val_loss: 0.1214 - val_mean_squared_logarithmic_error: 0.1256
Epoch 46/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0629 - mean_squared_logarithmic_error: 0.0629 - val_loss: 0.1009 - val_mean_squared_logarithmic_error: 0.1039
Epoch 47/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0625 - mean_squared_logarithmic_error: 0.0625 - val_loss: 0.1159 - val_mean_squared_logarithmic_error: 0.1201
Epoch 48/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0619 - mean_squared_logarithmic_error: 0.0619 - val_loss: 0.1121 - val_mean_squared_logarithmic_error: 0.1151
Epoch 49/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0619 - mean_squared_logarithmic_error: 0.0619 - val_loss: 0.1469 - val_mean_squared_logarithmic_error: 0.1525
Epoch 50/50
425/425 [==============================] - 1s 3ms/step - loss: 0.0611 - mean_squared_logarithmic_error: 0.0611 - val_loss: 0.1185 - val_mean_squared_logarithmic_error: 0.1225

In [33]:
eval_result = model.evaluate(x_test, y_test)
print(eval_result)

94/94 [==============================] - 0s 2ms/step - loss: 0.0817 - mean_squared_logarithmic_error: 0.0816
[0.08165794610977173, 0.0816333219408989]

In [34]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 505)               4545

 dense_5 (Dense)             (None, 377)               190762

 dense_6 (Dense)             (None, 89)                33642

 dense_7 (Dense)             (None, 1)                 90

=================================================================
Total params: 229,039
Trainable params: 229,039
Non-trainable params: 0
_________________________________________________________________