# Tuples

1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practical Examples and Common Errors
10. Introduction to Tuples

### Explanation:

Tuples are ordered collections of items that are immutable. They are similar to lists, but their immutability makes them different.

In [1]:
## creating a tuple
empty_tuple=()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst=list()
print(type(lst))

tpl=tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [3]:
numbers=tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [4]:
list((1,2,3,4,5,6))

[1, 2, 3, 4, 5, 6]

In [5]:
mixed_tuple=(1,"Hello World",3.14, True)
print(mixed_tuple)

(1, 'Hello World', 3.14, True)

In [7]:
## Accessing Tuple Elements
print(numbers)

print(numbers[2])
print(numbers[-1])

print(numbers[0:4])
print(numbers[::-1])

(1, 2, 3, 4, 5, 6)
3
6
(1, 2, 3, 4)
(6, 5, 4, 3, 2, 1)

In [8]:
## Tuple Operations
concatenation_tuple = numbers + mixed_tuple
print(concatenation_tuple)

(1, 2, 3, 4, 5, 6, 1, 'Hello World', 3.14, True)

In [10]:
print(mixed_tuple * 3)
print(numbers *3)

(1, 'Hello World', 3.14, True, 1, 'Hello World', 3.14, True, 1, 'Hello World', 3.14, True)
(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [11]:
## Immutable Nature Of Tuples
## Tuples are immutable, meaning their elements cannot be changed once assigned.

lst=[1,2,3,4,5]
print(lst)

lst[1]="Shashikala"
print(lst)

[1, 2, 3, 4, 5]
[1, 'Shashikala', 3, 4, 5]

In [12]:
numbers[1]="Sundar"

TypeError: 'tuple' object does not support item assignment

In [13]:
numbers

(1, 2, 3, 4, 5, 6)

In [14]:
## Tuple Methods
print(numbers.count(1))
print(numbers.index(3))

1
2

In [15]:
## Packing and Unpacking tuple
## packing
packed_tuple = 1,"Hello",3.14
print(packed_tuple)

(1, 'Hello', 3.14)

In [16]:
##unpacking a tuple
a,b,c=packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [17]:
## Unpacking with *
numbers=(1,2,3,4,5,6)
first,*middle,last=numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [20]:
## Nested List
lst=[[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]

print(lst[0][0:3])
print(lst[2][0:3])

[1, 2, 3]
[1, 'Hello', 3.14]

In [21]:
## Nested Tuple
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))

## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [22]:
## iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item,end=" ")
    print()

1 2 3
a b c
True False

### Conclusion
Tuples are versatile and useful in many real-world scenarios where an immutable and ordered collection of items is required. They are commonly used in data structures, function arguments and return values, and as dictionary keys. Understanding how to leverage tuples effectively can improve the efficiency and readability of your Python code.

# Tuple Assignment And Practise Code

### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [1]:
import random

tpl = tuple(num for num in range(11))
print(tpl)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [2]:
first, middle, last = tpl[0], tpl[len(tpl)//2], tpl[-1]
print(f"First element : {first} \nMiddle element : {middle} \nLast element : {last}")

First element : 0
Middle element : 5
Last element : 10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [5]:
first_3, middle_2_to_5, last_3 = tpl[:3], tpl[2:6], tpl[-3:]
print(f"First 3 element : {first_3} \nMiddle_2_to_5 element : {middle_2_to_5} \nLast 3 element : {last_3}")

First 3 element : (0, 1, 2)
Middle_2_to_5 element : (2, 3, 4, 5)
Last 3 element : (8, 9, 10)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [8]:
matrix_tpl = ((1,2,3), (4,5,6), (7,8,9))

print("Matrix : ")
for row in matrix_tpl:
    print(row)

print(f"Element at the second row and third column : {matrix_tpl[1][2]}")

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Element at the second row and third column : 6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [9]:
tpl1, tpl2 = (1, 2, 3) , (4, 5, 6)
print(f"Concatenate tuple : {tpl1 + tpl2}")

Concatenate tuple : (1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [17]:
duplicate_elements_tpl = (4, 4, 6, 4, 4, 4, 5, 2, 4, 2, 5, 2, 2, 3, 4, 6, 5, 2, 1, 1) 
# tuple(random.randint(1,6) for _ in range(20))
print(f"Duplicate elements tuple : {duplicate_elements_tpl}")
print(f"Occurrences of 4 : {duplicate_elements_tpl.count(4)}")
print(f"Index of the first occurrence of 1 : {duplicate_elements_tpl.index(1)}")

Duplicate elements tuple : (4, 4, 6, 4, 4, 4, 5, 2, 4, 2, 5, 2, 2, 3, 4, 6, 5, 2, 1, 1)
Occurrences of 4 : 7
Index of the first occurrence of 1 : 18

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [20]:
tpl1, tpl2, tpl3, tpl4, tpl5 = (1, 3, 4, 5, 2)
print(f"Unpack variables : {tpl1}, {tpl2}, {tpl3}, {tpl4}, {tpl5}")

Unpack variables : 1, 3, 4, 5, 2

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [21]:
lst_5 = [1, 3, 4, 5, 2]
tpl_5 = tuple(lst_5)
print(f"List : {lst_5} \nTuple : {tpl_5}")

List : [1, 3, 4, 5, 2]
Tuple : (1, 3, 4, 5, 2)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [24]:
matrix_tpl = ((1,2,3), (4,5,6), (7,8,9))
print(matrix_tpl)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [26]:
tpl = (1,2,3,4,5)
print(f"Original tuple : {tpl}")
lst = list(tpl)
lst.append(6)
tpl = tuple(lst)
print(f"Result tuple : {tpl}")

Original tuple : (1, 2, 3, 4, 5)
Result tuple : (1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [30]:
my_str = 'Hello'
str_tpl = tuple(my_str) # ('a', 'b', 'c', 'd', 'e', 'f')
print(f"Tuple with characters : {str_tpl}")
onestr = ''.join(str_tpl)
print(f"String : {onestr}")

Tuple with characters : ('H', 'e', 'l', 'l', 'o')
String : Hello

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [32]:
dict1 = {
    (1): 1,
    (2): 23,
    (3): 123,
    (1, 2): 1234,
    (2, 3): 12345
}

print(dict1)

{1: 1, 2: 23, 3: 123, (1, 2): 1234, (2, 3): 12345}

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [33]:
nested_tpl = ((1,2,3), (4,5,6), (7,8,9))

for row in nested_tpl:
    for elem in row:
        print(elem)

1
2
3
4
5
6
7
8
9

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [34]:
duplicate_elements_tpl = (4, 4, 6, 4, 4, 4, 5, 2, 4, 2, 5, 2, 2, 3, 4, 6, 5, 2, 1, 1) 
set_elements_tpl = tuple(set(duplicate_elements_tpl))
print(f"Duplicate elements tuple : {duplicate_elements_tpl}")
print(f"Without duplicate elements tuple : {set_elements_tpl}")

Duplicate elements tuple : (4, 4, 6, 4, 4, 4, 5, 2, 4, 2, 5, 2, 2, 3, 4, 6, 5, 2, 1, 1)
Without duplicate elements tuple : (1, 2, 3, 4, 5, 6)

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [38]:
def min_max_sum(tpl):
    print(f"Min : {min(tpl)} \nMax : {max(tpl)} \nSum : {sum(tpl)}")

min_max_sum(set_elements_tpl)

Min : 1
Max : 6
Sum : 21