# Day 4

# Conditional Statements (if, elif, else)

1. Introduction to Conditional Statements
2. if Statement
3. else Statement
4. elif Statement
5. Nested Conditional Statements
6. Practical Examples
7. Common Errors and Best Practices

In [1]:
## if statement
age=20

if age>=18:
    print("You are allowed to vote in the elections")

You are allowed to vote in the elections

In [2]:
age>=18

True

In [3]:
## else
## The else statement executes a block of code if the condition in the if statement is False.

age=16

if age>=18:
    print("You are eligible for voting")
else:
    print("You are a minor")

You are a minor

In [4]:
## elif
## The elif statement allows you to check multiple conditions. It stands for "else if"

age=17

if age<13:
    print("You are a child")
elif age<18:
    print("You are a teenager")
else:
    print("You are an adult")

You are a teenager

In [5]:
## Nested Condiitonal Statements

# You can place one or more if, elif, or else statements inside another if, elif, or else statement to create nested conditional statements.

## number even ,odd,negative

num=int(input("Enter the number "))

if num>0:
    print("The number is positive")
    if num%2==0:
        print("The number is even")
    else:
        print("The number is odd")

else:
    print("The number is zero or negative")

Enter the number0
The number is zero or negative

In [6]:
## Practical Examples

## Determine if a year is a leap year using nested condition statement

year=int(input("Enter the year "))

if year%4==0:
    if year%100==0:
        if year%400==0:
            print(year,"is a leap year")
        else:
            print(year,"is not a leap year")
    else:
        print(year,"is a leap year")

else:
    print(year,"is not a leap year")

Enter the year2024
2024 is a leap year

In [ ]:
## Assignment
## Simple Calculator program
# Take user input
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
operation = input("Enter operation (+, -, *, /): ")

# Perform the requested operation
if operation == '+':
    result = num1 + num2
elif operation == '-':
    result = num1 - num2
elif operation == '*':
    result = num1 * num2
elif operation == '/':
    if num2 != 0:
        result = num1 / num2
    else:
        result = "Error! Division by zero."
else:
    result = "Invalid operation."

print("Result:", result)

In [ ]:
### Determine the ticket price based on age and whether the person is a student.
# Ticket pricing based on age and student status

# Take user input
age = int(input("Enter your age: "))
is_student = input("Are you a student? (yes/no): ").lower()

# Determine ticket price
if age < 5:
    price = "Free"
elif age <= 12:
    price = "$10"
elif age <= 17:
    if is_student == 'yes':
        price = "$12"
    else:
        price = "$15"
elif age <= 64:
    if is_student == 'yes':
        price = "$18"
    else:
        price = "$25"
else:
    price = "$20"

print("Ticket Price:", price)

## Complex Example 3: Employee Bonus Calculation

Calculate an employee's bonus based on their performance rating and years of service.

In [ ]:
# Employee bonus calculation

# Take user input
years_of_service = int(input("Enter years of service: "))
performance_rating = float(input("Enter performance rating (1.0 to 5.0): "))

# Determine bonus percentage
if performance_rating >= 4.5:
    if years_of_service > 10:
        bonus_percentage = 20
    elif years_of_service > 5:
        bonus_percentage = 15
    else:
        bonus_percentage = 10
elif performance_rating >= 3.5:
    if years_of_service > 10:
        bonus_percentage = 15
    elif years_of_service > 5:
        bonus_percentage = 10
    else:
        bonus_percentage = 5
else:
    bonus_percentage = 0

# Calculate bonus amount
salary = float(input("Enter current salary: "))
bonus_amount = salary * bonus_percentage / 100

print("Bonus Amount: ${:.2f}".format(bonus_amount))

## Complex Example 4: User Login System
    
A simple user login system that checks the username and password.

In [ ]:
# User login system

# Predefined username and password
stored_username = "admin"
stored_password = "password123"

# Take user input
username = input("Enter username: ")
password = input("Enter password: ")

# Check login credentials
if username == stored_username:
    if password == stored_password:
        print("Login successful!")
    else:
        print("Incorrect password.")
else:
    print("Username not found.")

# Day 5

# Loops

1. Introduction to Loops
2. for Loop
    - Iterating over a range
    - Iterating over a string
3. while Loop
4. Loop Control Statements
    - break
    - continue
    - pass
5. Nested Loops
6. Practical Examples and Common Errors

In [8]:
range(5), list(range(5))

(range(0, 5), [0, 1, 2, 3, 4])

In [9]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [10]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [11]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [12]:
for i in range(10,1,-2):
    print(i)

10
8
6
4
2

In [13]:
## strings

str="James Michael"

for i in str:
    print(i)

J
a
m
e
s

M
i
c
h
a
e
l

In [14]:
## while loop

## The while loop continues to execute as long as the condition is True.

count = 0

while count < 5:
    print(count)
    count = count + 1

0
1
2
3
4

In [15]:
## Loop Control Statements

## break
## The break statement exits the loop permaturely

## break sstatement

for i in range(10):
    if i==5:
        break
    print(i)

0
1
2
3
4

In [16]:
## continue

## The continue statement skips the current iteration and continues with the next.

for i in range(10):
    if i%2==0:
        continue
    print(i)

1
3
5
7
9

In [17]:
## pass
## The pass statement is a null operation; it does nothing.

for i in range(5):
    if i==3:
        pass
    print(i)

0
1
2
3
4

In [18]:
## Nested loopss
## a loop inside a loop

for i in range(3):
    for j in range(2):
        print(f"i:{i} and j:{j}")

i:0 and j:0
i:0 and j:1
i:1 and j:0
i:1 and j:1
i:2 and j:0
i:2 and j:1

In [19]:
## Examples- Calculate the sum of first N natural numbers using a while and for loop

## while loop  

n = 10   
sum = 0
count = 1

while count <= n:
    sum = sum + count
    count = count + 1

print("Sum of first 10 natural number:",sum)

Sum of first 10 natural number: 55

In [20]:
n = 10   
sum = 0
for i in range(11):
    sum = sum + i
print(sum)

55

In [21]:
## Example- Prime numbers between 1 and 100

for num in range(1,101):
    if num>1:
        for i in range(2,num):
            if num%i==0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97