# Basic Python

# Syntax and Semantics in Python

In [1]:
## Basic Syntax Rules In Python
## Case sensitivity- Python is case sensitive

name="Kiran"
Name="Ram"

print(name)
print(Name)

Kiran
Ram

# Indentation

Indentation in Python is used to define the structure and hierarchy of the code. Unlike many other programming languages that use braces {} to delimit blocks of code, Python uses indentation to determine the grouping of statements. This means that all the statements within a block must be indented at the same level.

In [2]:
## Indentation
## Python uses indentation to define blocks of code. Consistent use of spaces (commonly 4) or a tab is required.

age=32
if age>30:
    
    print(age)
    
print(age)

32
32

In [3]:
## This is a single line comment
print("Hello World")

Hello World

In [4]:
'''
This is multi-line comment
This is multi-line comment
This is multi-line comment
This is multi-line comment
'''
print("Hello World")

Hello World

In [5]:
## Line Continuation
##Use a backslash (\) to continue a statement to the next line

total=1+2+3+4+5+6+7+\
4+5+6

print(total)

43

In [6]:
## Multiple Statements on a single line
x=5; y=10; z=x+y
print(z)

15

In [7]:
##Understand  Semnatics In Python
# variable assignment
age=32 ##age is an integer
name="Krish" ##name is a string

In [8]:
# Check data-type of variable
type(age)

int

In [9]:
type(name)

str

In [10]:
## Type Inference / Dynamic typing
variable=10
print(type(variable))
variable="Krish"
print(type(variable))

<class 'int'>
<class 'str'>

In [11]:
## Name Error
a = b

NameError: name 'b' is not defined

In [12]:
## Code exmaples of indentation
if True:
    print("Correct Indentation")
    if False:
        print("This ont print")
    print("This will print")
print("Outside the if block")

Correct Indentation
This will print
Outside the if block

# Variables

Variables are fundamental elements in programming used to store data that can be referenced and manipulated in a program. In Python, variables are created when you assign a value to them, and they do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

In [13]:
a = 100

In [15]:
## Declaring And Assigning Variables

age = 32
height = 6.1
name = "Kamal"
is_student = True

## printing the variables

print("age :",age)
print("Height:",height)
print("Name:",name)
print("is_student:",is_student)

age : 32
Height: 6.1
Name: Kamal
is_student: True

In [16]:
## Naming Conventions
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter,numbers and underscores
## variables names case sensitive

#valid variable names

first_name = "Ramesh"
last_name = "Kadam"

In [17]:
# Invalid variable names
# 2age = 30
# first-name = "Karim"
@name = "Kajal"

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (1312315152.py, line 4)

In [18]:
## case sensitivity
name = "Neelima"
Name = "Nayan"

In [19]:
## Understnading Variable types
## Python is dynamically typed,type of a variable is determined at runtime

age = 25 #int
height = 6.1 #float
name = "Samir" #str
is_student = True #bool

In [20]:
## Type Checking and Conversion

age=25
print(type(age))

# Type conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [21]:
age='25'
print(type(int(age)))

<class 'int'>

In [22]:
name = "Lalita"
int(name)

ValueError: invalid literal for int() with base 10: 'Lalita'

In [23]:
height = 5.11
type(height)

float

In [24]:
float(int(height))

5.0

In [25]:
## Dynamic Typing
## Python allows the type of a vraible to change as the program executes
var=10 #int
print(var,type(var))

var="Hello"
print(var,type(var))

var=3.14
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>

In [26]:
## input

age=int(input("What is the age"))
print(age,type(age))

What is the age20
20 <class 'int'>

In [27]:
### Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("Difference:", difference)
print("Product:", product)
print("Quotient:", quotient)

Enter first number: 45
Enter second number: 2
Sum: 47.0
Difference: 43.0
Product: 90.0
Quotient: 22.5

# DataTypes

1. Definition:

Data types are a classification of data which tell the compiler or interpreter how the programmer intends to use the data.
They determine the type of operations that can be performed on the data, the values that the data can take, and the amount of memory needed to store the data.

2. Importance of Data Types in Programming Explanation:

- Data types ensure that data is stored in an efficient way.
- They help in performing correct operations on data.
- Proper use of data types can prevent errors and bugs in the program.

# Introduction to Data Types

- Basic Data Types
    - Integers
    - Floating-point numbers
    - Strings
    - Booleans

- Advanced Data Types
    - Lists
    - Tuples
    - Sets
    - Dictionaries
- Type Conversion

In [28]:
## Integer Example
age=35
type(age)

int

In [29]:
##floating point datatype
height=5.11
print(height)
print(type(height))

5.11
<class 'float'>

In [30]:
## string datatype example
name="John"
print(name)
print(type(name))

John
<class 'str'>

In [31]:
## boolean datatype
is_true=True
type(is_true)

bool

In [32]:
a=10
b=10

type(a==b)

bool

In [33]:
## common errors

result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [34]:
result="Hello" + str(5)
print(result)

Hello5

# Operators

1. Introduction to Operators

2. Arithmetic Operators
- Addition
- Subtraction
- Multiplication
- Division
- Floor Division
- Modulus
- Exponentiation

3. Comparison Operators
- Equal to
- Not equal to
- Greater than
- Less than
- Greater than or equal to
- Less than or equal to

4. Logical Operators
- AND
- OR
- NOT

5. Practical Examples and Common Errors

In [35]:
## Arithmethic Operation

a=10
b = 5

add_result=a+b  #addiiton
sub_result=a-b  #substraction 
mult_result=a*b #multiplication
div_result=a/b  #division
floor_div_result=a//b ## floor division
modulus_result=a%b #modulus operation
exponent_result=a**b ## Exponentiation

print(add_result)
print(sub_result)
print(mult_result)
print(div_result)
print(floor_div_result)
print(modulus_result)
print(exponent_result)

15
5
50
2.0
2
0
100000

In [36]:
# Comparison Operators

## Comparison Operators
## == Equal to
a=10
b=10

a==b

True

In [37]:
str1="Kira"
str2="Kira"

str1 == str2

True

In [38]:
## Not Equal to !=
str1 != str2

False

In [39]:
str3="John"
str4="john"

str3 != str4

True

In [40]:
# greater than >

num1=45
num2=55

num1>num2

False

In [41]:
## less than <
print(num1<num2)

True

In [42]:
#greater than or equal to
number1=45
number2=45

print(number1>=number2)

True

In [43]:
#less than or equal to
number1=44
number2=45

print(number1<=number2)

True

In [44]:
# Logical Operators

## And ,Not,OR
X=True
Y=True

result =X and Y
print(result)

True

In [45]:
X=False
Y=True

result =X and Y
print(result)

False

In [46]:
## OR
X=False
Y=False

result =X or Y
print(result)

False

In [47]:
# Not operator
X=False
not X

True

In [48]:
## Simple Calculator

# Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Performing arithmetic operations
addition = num1 + num2
subtraction = num1 - num2
multiplication = num1 * num2
division = num1 / num2
floor_division = num1 // num2
modulus = num1 % num2
exponentiation = num1 ** num2

# Displaying results
print("Addition:", addition)
print("Subtraction:", subtraction)
print("Multiplication:", multiplication)
print("Division:", division)
print("Floor Division:", floor_division)
print("Modulus:", modulus)
print("Exponentiation:", exponentiation)

Enter first number: 16
Enter second number: 3
Addition: 19.0
Subtraction: 13.0
Multiplication: 48.0
Division: 5.333333333333333
Floor Division: 5.0
Modulus: 1.0
Exponentiation: 4096.0