In [ ]:
# /content/drive/MyDrive/Colab Notebooks/Project Interview Part3/data_final/PersonalityDataset.zip

import zipfile
zip_ref = zipfile.ZipFile("/content/drive/MyDrive/Colab Notebooks/Project Interview Part3/data_final/PersonalityDataset.zip", 'r')
zip_ref.extractall()
zip_ref.close()

print('done...')

done...

In [ ]:
# lib's
import numpy as np
import pandas as pd
import glob
import random

# for ploting
import matplotlib.pyplot as plt
import seaborn as sns

# train_test_split
from sklearn.model_selection import train_test_split

# clustering lib and Visualize the elbow
from sklearn.cluster import MiniBatchKMeans
from sklearn.cluster import KMeans
from yellowbrick.cluster import KElbowVisualizer

# For ease of calculation, scale all the values between 0-1 
from sklearn.preprocessing import MinMaxScaler

# save model
import pickle

import warnings
warnings.filterwarnings('ignore')

In [ ]:
df_path = "/content/PersonalityDataset.csv"
df = pd.read_csv(df_path)
df.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10
0,4.0,1.0,5.0,2.0,5.0,1.0,5.0,2.0,4.0,1.0,...,5.0,1.0,4.0,1.0,4.0,1.0,5.0,3.0,4.0,5.0
1,3.0,5.0,3.0,4.0,3.0,3.0,2.0,5.0,1.0,5.0,...,1.0,2.0,4.0,2.0,3.0,1.0,4.0,2.0,5.0,3.0
2,2.0,3.0,4.0,4.0,3.0,2.0,1.0,3.0,2.0,5.0,...,5.0,1.0,2.0,1.0,4.0,2.0,5.0,3.0,4.0,4.0
3,2.0,2.0,2.0,3.0,4.0,2.0,2.0,4.0,1.0,4.0,...,4.0,2.0,5.0,2.0,3.0,1.0,4.0,4.0,3.0,3.0
4,3.0,3.0,3.0,3.0,5.0,3.0,3.0,5.0,3.0,4.0,...,5.0,1.0,5.0,1.0,5.0,1.0,5.0,3.0,5.0,5.0

In [ ]:
# to find number of clusters
columns = list(df.columns)
scaler = MinMaxScaler(feature_range=(0,1))
data = scaler.fit_transform(df)
data = pd.DataFrame(data, columns=columns)
print(f"Length of dataframe : {len(data)}")

# df_sample = data[:10000]
# df_sample = data[:int(len(data)*0.4)]
# df_sample

Length of dataframe : 1015341

In [ ]:
df_sample_train, df_sample_test = train_test_split(data, 
                                                   test_size=0.2, 
                                                   random_state=41, 
                                                   shuffle=True)
df_sample_train.head()

,EXT1,EXT2,EXT3,EXT4,EXT5,EXT6,EXT7,EXT8,EXT9,EXT10,...,OPN1,OPN2,OPN3,OPN4,OPN5,OPN6,OPN7,OPN8,OPN9,OPN10
200615,1.0,0.2,1.0,0.4,1.0,0.4,0.4,1.0,1.0,0.4,...,1.0,0.4,1.0,0.4,1.0,0.0,1.0,1.0,1.0,1.0
610876,0.4,0.6,0.8,0.8,0.6,0.6,0.6,0.6,0.8,1.0,...,0.4,0.8,0.0,0.6,0.8,0.6,0.8,0.4,0.8,0.8
508045,0.8,0.2,1.0,0.4,1.0,0.2,0.8,0.6,0.8,0.2,...,0.6,0.4,0.8,0.8,0.8,0.4,0.6,0.6,0.6,0.6
268645,0.4,0.8,0.6,0.8,0.6,0.8,0.8,0.6,0.6,0.8,...,0.8,0.4,0.8,0.4,0.8,0.4,0.8,0.8,0.6,0.8
979419,0.4,0.4,0.6,0.6,1.0,0.6,0.0,0.6,0.6,0.4,...,0.8,0.6,0.6,0.8,1.0,0.8,0.6,0.8,1.0,0.6

In [ ]:
# wcss = [] 
# for i in range(2, 15): 
#     kmeans = KMeans(n_clusters = i, init = 'k-means++', random_state = 41)
#     kmeans.fit(df_sample_train) 
#     wcss.append(kmeans.inertia_)
#     print(f"{i} : {kmeans.inertia_}")

In [ ]:
# plt.plot(range(2, 15), wcss, 'bo-')
# plt.xlabel('Values of K')
# plt.ylabel('Distortion')
# plt.title('The Elbow Method using Distortion')
# plt.show()

In [ ]:
# # Instantiate the clustering model and visualizer
# model = KMeans()
# visualizer = KElbowVisualizer(model, k=(2,15))

# visualizer.fit(df_sample_train) # Fit the data to the visualizer
# visualizer.show() # Finalize and render the figure

In [ ]:
# MiniBatchKMeans clustering -- in unsupervised learning algorithms

for i in range(2, 15): 

  kmeans = MiniBatchKMeans(n_clusters=i, 
                           random_state=101, 
                           batch_size=int(len(df_sample_train)*0.15), 
                           max_iter=100).fit(df_sample_train)

  # n_clusters : number of personality type (in our case its 10 -- you can change it with any number of cluster)
  # random_state : change as you want
  # batch_size : the amount of data that is going to train at once or one at a time (feed the data in batches)
  # max_iter : train the data at n times (in our case its 100 times)

  # save model
  # save the Module to disk
  filename = f"personality_type_model_{i}C.pkl"
  pickle.dump(kmeans, open(filename, 'wb'))

In [ ]:
# save the MinMaxScaler to disk
filename = 'MinMaxScaler_for_personality_type.pkl'
pickle.dump(scaler, open(filename, 'wb'))

In [ ]:
model_list = ['personality_type_model_2C.pkl', 'personality_type_model_3C.pkl', 
              'personality_type_model_4C.pkl', 'personality_type_model_5C.pkl', 
              'personality_type_model_6C.pkl', 'personality_type_model_7C.pkl', 
              'personality_type_model_8C.pkl', 'personality_type_model_9C.pkl', 
              'personality_type_model_10C.pkl', 'personality_type_model_12C.pkl', 
              'personality_type_model_13C.pkl', 'personality_type_model_14C.pkl']

loaded_scaler = pickle.load(open('MinMaxScaler_for_personality_type.pkl', 'rb')) 


# Implementing the Model to See My Personality
columns = ['EXT1', 'EXT2', 'EXT3', 'EXT4', 'EXT5', 'EXT6', 'EXT7', 'EXT8', 'EXT9', 'EXT10', 
           'EST1', 'EST2', 'EST3', 'EST4', 'EST5', 'EST6', 'EST7', 'EST8', 'EST9', 'EST10', 
           'AGR1', 'AGR2', 'AGR3', 'AGR4', 'AGR5', 'AGR6', 'AGR7', 'AGR8', 'AGR9', 'AGR10', 
           'CSN1', 'CSN2', 'CSN3', 'CSN4', 'CSN5', 'CSN6', 'CSN7', 'CSN8', 'CSN9', 'CSN10', 
           'OPN1', 'OPN2', 'OPN3', 'OPN4', 'OPN5', 'OPN6', 'OPN7', 'OPN8', 'OPN9', 'OPN10']

val1 = [random.randint(0,6) for ind in range(10)]
val2 = [random.randint(0,6) for ind in range(10)]
val3 = [random.randint(0,6) for ind in range(10)]
val4 = [random.randint(0,6) for ind in range(10)]
val5 = [random.randint(0,6) for ind in range(10)]
val = val1+val2+val3+val4+val5
print('length of val : ',len(val), val)


for md in model_list:
  loaded_model = pickle.load(open(md, 'rb')) 

  my_data = pd.DataFrame(data=[val], columns=columns)
  my_data1 = loaded_scaler.transform(my_data)
  my_personality = loaded_model.predict(my_data1)
  print('My Personality Type Cluster is : ', my_personality)

  # Summing up the my question groups
  col_list = list(my_data)

  ext = list(my_data1[0][0:10])
  est = list(my_data1[0][10:20])
  agr = list(my_data1[0][20:30])
  csn = list(my_data1[0][30:40])
  opn = list(my_data1[0][40:50])

  extroversion = ext[0] - ext[1] + ext[2] - ext[3] + ext[4] - ext[5] + ext[6] - ext[7] + ext[8] - ext[9]
  neurotic = est[0] - est[1] + est[2] - est[3] + est[4] + est[5] + est[6] + est[7] + est[8] + est[9]
  agreeable = -agr[0] + agr[1] - agr[2] + agr[3] - agr[4] - agr[5] + agr[6] - agr[7] + agr[8] + agr[9]
  conscientious = csn[0] - csn[1] + csn[2] - csn[3] + csn[4] - csn[5] + csn[6] - csn[7] + csn[8] + csn[9]
  open_ = opn[0] - opn[1] + opn[2] - opn[3] + opn[4] - opn[5] + opn[6] + opn[7] + opn[8] + opn[9]

  li = [extroversion, neurotic, agreeable, conscientious, open_]
  scaled_data = [0 if ind != li.index(max(li)) else round(max(li),2) for ind in range(len(li))]
  # li # (li - min(li)) / (max(li) - min(li))

  my_sums = pd.DataFrame([scaled_data], 
                        columns=['extroversion', 'neurotic', 'agreeable', 'conscientious', 'open'])
  my_sums['cluster'] = my_personality
  print('Sum of my question groups')
  display(my_sums)

  # print(my_sums.iloc[0].max())

  print('\n\n')

length of val :  50 [2, 0, 0, 6, 1, 5, 0, 3, 5, 0, 4, 1, 3, 1, 2, 1, 0, 0, 6, 1, 1, 2, 4, 3, 4, 6, 5, 5, 5, 6, 3, 1, 6, 2, 3, 4, 4, 3, 5, 2, 1, 5, 2, 5, 6, 2, 1, 5, 1, 5]
My Personality Type Cluster is :  [0]
Sum of my question groups

   extroversion  neurotic  agreeable  conscientious  open  cluster
0             0       3.0          0              0     0        0

My Personality Type Cluster is :  [2]
Sum of my question groups

   extroversion  neurotic  agreeable  conscientious  open  cluster
0             0       3.0          0              0     0        2

My Personality Type Cluster is :  [2]
Sum of my question groups

   extroversion  neurotic  agreeable  conscientious  open  cluster
0             0       3.0          0              0     0        2

My Personality Type Cluster is :  [3]
Sum of my question groups

   extroversion  neurotic  agreeable  conscientious  open  cluster
0             0       3.0          0              0     0        3

My Personality Type Cluster is :  [4]
Sum of my question groups

   extroversion  neurotic  agreeable  conscientious  open  cluster
0             0       3.0          0              0     0        4

My Personality Type Cluster is :  [1]
Sum of my question groups

   extroversion  neurotic  agreeable  conscientious  open  cluster
0             0       3.0          0              0     0        1

My Personality Type Cluster is :  [6]
Sum of my question groups

   extroversion  neurotic  agreeable  conscientious  open  cluster
0             0       3.0          0              0     0        6

My Personality Type Cluster is :  [2]
Sum of my question groups

   extroversion  neurotic  agreeable  conscientious  open  cluster
0             0       3.0          0              0     0        2

My Personality Type Cluster is :  [3]
Sum of my question groups

   extroversion  neurotic  agreeable  conscientious  open  cluster
0             0       3.0          0              0     0        3

My Personality Type Cluster is :  [11]
Sum of my question groups

   extroversion  neurotic  agreeable  conscientious  open  cluster
0             0       3.0          0              0     0       11

My Personality Type Cluster is :  [5]
Sum of my question groups

   extroversion  neurotic  agreeable  conscientious  open  cluster
0             0       3.0          0              0     0        5

My Personality Type Cluster is :  [7]
Sum of my question groups

   extroversion  neurotic  agreeable  conscientious  open  cluster
0             0       3.0          0              0     0        7

In [ ]:
my_sums.iloc[0,:-1].max()

3.4000000000000004

In [ ]:
li.index(max(li))

1

In [ ]:
[0 if ind != li.index(max(li)) else round(max(li),2) for ind in range(len(li))]

[0, 3.4, 0, 0, 0]