In [1]:
import sqlite3
import numpy as np

In [2]:
# Create a SQL connection to our SQLite database
connect = sqlite3.connect('test.db') # portal_mammals.sqlite
cursor = connect.cursor()

In [3]:
# Create table
cursor.execute("""CREATE TABLE IF NOT EXISTS faculty (fid INT, fname TEXT, qualification TEXT, deptid INTEGER);""")

In [4]:
# Insert data
cursor.execute("""INSERT INTO faculty VALUES (1, 'Aman', 'B.Tech', 1);""")
connect.commit()

In [5]:
cursor.execute("""INSERT INTO faculty VALUES (2, 'Mohan', 'M.Tech', 1), 
                                             (3, 'Vishal', 'M.Tech', 1), 
                                             (4, 'Priya', 'Ph.D', 2),
                                             (5, 'Ravi', 'Ph.D', 3),
                                             (6, 'Aarti', 'M.Tech', 2);""")
connect.commit()

In [6]:
# Create table student and insert multiple records
cursor.execute("""CREATE TABLE IF NOT EXISTS student (sid INT, sname TEXT, branch TEXT, marks INTEGER);""")

cursor.execute(f"""INSERT INTO student VALUES (1, 'Lalit', 'IT', 75), 
                                              (2, 'Mahesh', 'IT', 90), 
                                              (3, 'Sagar', 'CSE', 92),
                                              (4, 'Arun', 'CSE', 45),
                                              (5, 'Shikha', 'ECE', 56),
                                              (6, 'Anand', 'ECE', 78),
                                              (7, 'Parul', 'IT', 80),
                                              (8, 'Kapil', '{np.nan}', 82);""")
connect.commit()

In [7]:
# Create table department and insert multiple records
cursor.execute("""CREATE TABLE IF NOT EXISTS department (deptid INT, deptname TEXT);""")

cursor.execute(f"""INSERT INTO department VALUES (1, 'IT'),
                                                 (2, 'CSE'), 
                                                 (3, 'ECE');""")
connect.commit()

In [8]:
# to close db connection
# connect.close()