# Pyspark Introduction and Installation

https://spark.apache.org/

In [1]:
# install pyspark library
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\munge\appdata\local\programs\python\python36\lib\site-packages (2.4.4)
Requirement already satisfied: py4j==0.10.7 in c:\users\munge\appdata\local\programs\python\python36\lib\site-packages (from pyspark) (0.10.7)

WARNING: Ignoring invalid distribution -ycryptodome (c:\users\munge\appdata\local\programs\python\python36\lib\site-packages)
WARNING: Ignoring invalid distribution -ycryptodome (c:\users\munge\appdata\local\programs\python\python36\lib\site-packages)
WARNING: Ignoring invalid distribution -ycryptodome (c:\users\munge\appdata\local\programs\python\python36\lib\site-packages)
WARNING: Ignoring invalid distribution -ycryptodome (c:\users\munge\appdata\local\programs\python\python36\lib\site-packages)
WARNING: Ignoring invalid distribution -ycryptodome (c:\users\munge\appdata\local\programs\python\python36\lib\site-packages)

In [3]:
# load library
import pyspark as ps
import pandas as pd

In [19]:
# read data file using pandas
pd_df = pd.read_excel("test.xlsx")
pd_df.to_csv("test.csv")
pd_df

,Name,Sname,Age,Gender,Email_ID,Adderess,Profile,Experience
0,kiran,mungkar,29,m,kiran@gmail.com,virar,data analyst,1.8
1,kapil,nargund,27,m,kapil@gmail.com,vasai,data analyst,3.2
2,samira,sha,28,f,samira@yahoo.com,borivali,teacher,2.8
3,vidhan,wani,27,m,vidhan@hotmail.com,bhayandar,automation developer,1.5
4,abhijit,panpatil,27,m,abhijit@gmail.com,palghar,shell scripting engineer,4.5
5,namrata,deshamukh,28,f,manrata@yahoo.com,borivali,front end developer,2.6
6,neha,raut,27,f,neha@hotmail.com,virar,teacher,4.8
7,shubham,neve,26,m,shubham@hotmail.com,palghar,automation developer,3.5
8,darshan,sha,27,m,darshan@gmail.com,malad,.net devloper,3.4
9,anuj,kumar,28,m,anuj@yahoo.com,nalasopara,backend developer,4.7
10,harshali,desai,27,f,harshali@gmail.com,borivali,java developer,4.1
11,nitesh,kanojia,26,m,nitesh@gmail.com,vasai,data analyst,2.3
12,nitesh,angare,26,m,nitesh_a@gmail.com,virar,bi developer,2.0
13,vidit,sha,29,m,vidit@yahoo.com,borivali,business analyst,4.0
14,shradhha,mahale,28,f,shraddha@yahoo.com,palghar,backend developer,3.1
15,jinal,jain,30,f,jinal@gmail.com,malad,software tester,3.2
16,rohit,kumar,28,m,rohit@gmail.com,virar,front end developer,2.7
17,siddhesh,patil,28,m,siddhesh@yahoo.com,virar,front end developer,2.7
18,nidhi,divecha,28,f,nidhi@hotmail.cpm,vasai,teacher,3.2
19,harsh,divecha,30,m,harsh@yahoo.com,vasai,software security,4.1
20,snehal,matre,27,f,snehal@gmail.com,bhayandar,teacher,2.4
21,medha,patil,32,f,medha@yahoo.com,borivali,.net devloper,3.6
22,sonal,gondane,30,f,sonal@gmail.com,borivali,teacher,4.3

# To work with spark 1st start the spark session

In [8]:
# load SparkSession
from pyspark.sql import SparkSession

In [9]:
spark = SparkSession.builder.appName('practice').getOrCreate() 
# give session a name ie. 'practice'
# and then create spark session
spark

when you working on local you can see only one cluster nut when you working on cloud you can create multiple cluster and instances

In [20]:
# read data file using sparks
ps_df = spark.read.csv('test.csv')
ps_df

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string, _c6: string, _c7: string, _c8: string]

In [21]:
ps_df.show()

+----+--------+---------+---+------+-------------------+----------+--------------------+----------+
| _c0|     _c1|      _c2|_c3|   _c4|                _c5|       _c6|                 _c7|       _c8|
+----+--------+---------+---+------+-------------------+----------+--------------------+----------+
|null|    Name|    Sname|Age|Gender|           Email_ID|  Adderess|             Profile|Experience|
|   0|   kiran|  mungkar| 29|     m|    kiran@gmail.com|     virar|        data analyst|       1.8|
|   1|   kapil|  nargund| 27|     m|    kapil@gmail.com|     vasai|        data analyst|       3.2|
|   2|  samira|      sha| 28|     f|   samira@yahoo.com|  borivali|             teacher|       2.8|
|   3|  vidhan|     wani| 27|     m| vidhan@hotmail.com| bhayandar|automation developer|       1.5|
|   4| abhijit| panpatil| 27|     m|  abhijit@gmail.com|   palghar|shell scripting e...|       4.5|
|   5| namrata|deshamukh| 28|     f|  manrata@yahoo.com|  borivali| front end developer|       2.6|
|   6|    neha|     raut| 27|     f|   neha@hotmail.com|     virar|             teacher|       4.8|
|   7| shubham|     neve| 26|     m|shubham@hotmail.com|   palghar|automation developer|       3.5|
|   8| darshan|      sha| 27|     m|  darshan@gmail.com|     malad|       .net devloper|       3.4|
|   9|    anuj|    kumar| 28|     m|     anuj@yahoo.com|nalasopara|   backend developer|       4.7|
|  10|harshali|    desai| 27|     f| harshali@gmail.com|  borivali|      java developer|       4.1|
|  11|  nitesh|  kanojia| 26|     m|   nitesh@gmail.com|     vasai|        data analyst|       2.3|
|  12|  nitesh|   angare| 26|     m| nitesh_a@gmail.com|     virar|        bi developer|       2.0|
|  13|   vidit|      sha| 29|     m|    vidit@yahoo.com|  borivali|    business analyst|       4.0|
|  14|shradhha|   mahale| 28|     f| shraddha@yahoo.com|   palghar|   backend developer|       3.1|
|  15|   jinal|     jain| 30|     f|    jinal@gmail.com|     malad|     software tester|       3.2|
|  16|   rohit|    kumar| 28|     m|    rohit@gmail.com|     virar| front end developer|       2.7|
|  17|siddhesh|    patil| 28|     m| siddhesh@yahoo.com|     virar| front end developer|       2.7|
|  18|   nidhi|  divecha| 28|     f|  nidhi@hotmail.cpm|     vasai|             teacher|       3.2|
+----+--------+---------+---+------+-------------------+----------+--------------------+----------+
only showing top 20 rows

In [23]:
# to show / select the 1st row as header
ps_df = spark.read.option("header", "true").csv("test.csv")
ps_df

DataFrame[_c0: string, Name: string, Sname: string, Age: string, Gender: string, Email_ID: string, Adderess: string, Profile: string, Experience: string]

In [25]:
ps_df.show()

+---+--------+---------+---+------+-------------------+----------+--------------------+----------+
|_c0|    Name|    Sname|Age|Gender|           Email_ID|  Adderess|             Profile|Experience|
+---+--------+---------+---+------+-------------------+----------+--------------------+----------+
|  0|   kiran|  mungkar| 29|     m|    kiran@gmail.com|     virar|        data analyst|       1.8|
|  1|   kapil|  nargund| 27|     m|    kapil@gmail.com|     vasai|        data analyst|       3.2|
|  2|  samira|      sha| 28|     f|   samira@yahoo.com|  borivali|             teacher|       2.8|
|  3|  vidhan|     wani| 27|     m| vidhan@hotmail.com| bhayandar|automation developer|       1.5|
|  4| abhijit| panpatil| 27|     m|  abhijit@gmail.com|   palghar|shell scripting e...|       4.5|
|  5| namrata|deshamukh| 28|     f|  manrata@yahoo.com|  borivali| front end developer|       2.6|
|  6|    neha|     raut| 27|     f|   neha@hotmail.com|     virar|             teacher|       4.8|
|  7| shubham|     neve| 26|     m|shubham@hotmail.com|   palghar|automation developer|       3.5|
|  8| darshan|      sha| 27|     m|  darshan@gmail.com|     malad|       .net devloper|       3.4|
|  9|    anuj|    kumar| 28|     m|     anuj@yahoo.com|nalasopara|   backend developer|       4.7|
| 10|harshali|    desai| 27|     f| harshali@gmail.com|  borivali|      java developer|       4.1|
| 11|  nitesh|  kanojia| 26|     m|   nitesh@gmail.com|     vasai|        data analyst|       2.3|
| 12|  nitesh|   angare| 26|     m| nitesh_a@gmail.com|     virar|        bi developer|       2.0|
| 13|   vidit|      sha| 29|     m|    vidit@yahoo.com|  borivali|    business analyst|       4.0|
| 14|shradhha|   mahale| 28|     f| shraddha@yahoo.com|   palghar|   backend developer|       3.1|
| 15|   jinal|     jain| 30|     f|    jinal@gmail.com|     malad|     software tester|       3.2|
| 16|   rohit|    kumar| 28|     m|    rohit@gmail.com|     virar| front end developer|       2.7|
| 17|siddhesh|    patil| 28|     m| siddhesh@yahoo.com|     virar| front end developer|       2.7|
| 18|   nidhi|  divecha| 28|     f|  nidhi@hotmail.cpm|     vasai|             teacher|       3.2|
| 19|   harsh|  divecha| 30|     m|    harsh@yahoo.com|     vasai|   software security|       4.1|
+---+--------+---------+---+------+-------------------+----------+--------------------+----------+
only showing top 20 rows

In [27]:
# check the data type 
type(ps_df), type(pd_df)

(pyspark.sql.dataframe.DataFrame, pandas.core.frame.DataFrame)

In [28]:
# to show few / 1st row information
ps_df.head()

Row(_c0='0', Name='kiran', Sname='mungkar', Age='29', Gender='m', Email_ID='kiran@gmail.com', Adderess='virar', Profile='data analyst', Experience='1.8')

In [29]:
# to show information about collumns
ps_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sname: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Email_ID: string (nullable = true)
 |-- Adderess: string (nullable = true)
 |-- Profile: string (nullable = true)
 |-- Experience: string (nullable = true)